.card__home-posts {
    /* background-color:rgb(8, 0, 36); */
    background-image: linear-gradient(
        180deg, 
        rgb(10, 0, 48) 0%,
        rgb(21, 7, 74) 48%,
        rgb(37, 16, 113) 100%
      );
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}


.card__home-title {
    display: flex;
    align-items: center;
    

    img {
        height: 2rem;
        margin-right: .7rem;
    }

    .title {
        font-size: 1.4rem;
        margin-top: .4rem;
        text-decoration: none;
        color: white;
    }
    
    .topic {
        font-size: 1rem;
        margin-top: .4rem;
        text-decoration: none;
        color: white;
    }

}


.card__home-name {
    display: flex;
    align-items: center;
    border-radius: 2rem;    
    text-decoration: none;
    color:white;


    .name {
        font-size: 1.3rem;
    }
    
    img {
        background-color: rgb(73, 0, 168);
        border-radius: 2rem;
        height: 3rem;
        margin-right: .6rem;
    }
}


.card__home-posts > div {
    margin: 15px;
}

.card__home-posts > p {
    margin: 20px 41px;
    margin-bottom: 25px;
}


.card__home-posts > img {
    height: 3rem;
}