@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html {
    color-scheme: dark;
    min-width: 763px;
    height: 100%;

    body {

        background-image: url('https://pixelcovestudio.files.wordpress.com/2023/08/library.gif?w=1024');
        background-attachment: fixed;
        background-size: cover;
        color-scheme: dark;
        margin:0;
        height: 100%;
    }

}

.container__update-page {
    display: flex;
    justify-content: center;
    margin: 2% 10%;
    border-radius: 5px;
}

fieldset {
    border-style:none;
}