.auth-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  /* background-color:rgb(8, 0, 36); */
  background-image: linear-gradient(
      180deg, 
      rgb(10, 0, 48) 0%,
      rgb(21, 7, 74) 48%,
      rgb(37, 16, 113) 100%
    );
  margin:16% 16%;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
  2px 4px 20px hsla(0, 0%, 0%, 0.2);
}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}
